@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
         format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  :root{
    --font-size:18px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Hanken Grotesk', sans-serif;
    font-size: var(--font-size);
   
}

.result{
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 71%, 43%));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 10px 30px rgba(83, 84, 168, 0.45);

}
#result-h{
   color: rgba(247, 247, 247,0.6);
   font-size: 15px;
   padding-bottom: 20px;

}
#result-circle{
    background: linear-gradient( hsla(256, 72%, 46%, 1), hsla(256, 72%, 46%, 0));
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#result-circle h1{
    font-weight: 800;
    font-size: 55px;
    color: hsl(0, 0%, 100%);
    
}
#result-circle h3{
    font-weight: 800;
    font-size: 18px;
    color: rgb(250, 245, 255,0.3);
}

#message{
    padding-top: 20px;
    color:hsl(0, 0%, 100%);
}
#p-afterMessage{
    padding-top:5px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    color: rgb(250, 245, 255,0.6);
    font-weight: 800;
    margin: 0;
    text-align: center;
}

.summary{
    padding: 30px;
    background: linear-gradient(hsla(221, 100%, 96%,0.4),white,rgba(255, 255, 255, 0)); 
   
    
}
.summary h2{
   padding-bottom: 20px;
   font-size: 15px;
   font-weight: 800;
   color: rgb(60, 56, 56);
}

.list{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 10px;
    border-radius: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.01);
}


.list *{
    padding: 5px;
    font-size: 16px;
    
}


.inside-list{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    font-weight: 500;

  
}
#reaction-h{
    
    color:hsl(0, 100%, 67%);
}
#memory-h{
    color:hsl(39, 100%, 56%);
}
#verbel-h{
    color:hsl(166, 100%, 37%);
}
#visual-h{
   color: hsl(234, 85%, 45%);
}

.reaction{
  background-color: hsla(0, 100%, 67%,0.05);
}

.Memory{
    background-color: hsla(39, 100%, 56%,0.05);

}

.verbal{
    background-color: hsla(166, 100%, 37%,0.05);
}

.visual{
    background-color: hsla(234, 85%, 45%,0.05);
}

.list-score {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.444);
  font-weight: 800;
}

.list-score strong{
    color: rgba(59, 58, 58, 0.8);  
}

.continue button{
    background-color: rgb(49, 54, 87);
    width: 100%;
    border-collapse: collapse;
    border: 0;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
    color: rgba(247, 247, 247,0.9);
    box-shadow: 0 1px 2px  rgba(0, 0, 0, 0.1);
}




