@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
         format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
@media(min-width:900px){
    main{
        display: flex;
        flex-direction: row;     
        background-color: white;
        align-items: stretch;
        border-radius: 10%;
        justify-content: center;
        box-shadow: 0px 5px 30px rgba(107, 164, 255, 0.457);
        max-width: fit-content;
        transition: all 0.4s ease-in-out;
    }
    main:hover{
        transform: scale(1.01);
    }
    
    body{
   
        background-color:hsl(221, 100%, 96%);
        padding: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    .result{
        max-height: 500px;
        flex: 1;
        position: relative;
        z-index: 2;
        border-radius:10%;
        overflow: visible;
       
        justify-content: center;
        gap:20px;
        box-shadow: none;
        
    }

    #result-circle{

        width: 200px;
        height: 200px;
    
    
    }

    #result-circle h1{
        font-size: 75px;

        
    }

#message{
    font-size :30px;
}


 .summary{
        
        z-index: 1;
        flex:1;
        background-color:white;
        border-radius: 0 10% 10% 0;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        
    
    }
    .summary h2{
        padding-bottom: 30px;
        font-size: 20px;
     }
    #result-h{
        font-size: 20px;
    }
    .continue button{
        padding-top: 20px;
        font-size: 18px;
    }
}